td button {
    /* Center text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em;

    width: 1.5em;
    height: 1.5em;

    border-radius: 50%;
    background-color: red;
    color: black;
    font-size: 2em;

    margin: 0 auto;
}

img.tableAvatar {
  width: 80px;
  height: 80px;
}

img.gitHubLogo {
  width: 50px;
  height: 50px;
}